
<h2>Details</h2>

<div>
    <h4>Employee</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            LastName
        </dt>

        <dd>
            {{employee.LastName}}
        </dd>

        <dt>
            FirstName
        </dt>

        <dd>
            {{employee.FirstName}}
        </dd>

        <dt>
            Title
        </dt>

        <dd>
            {{employee.Title}}
        </dd>

        <dt>
            TitleOfCourtesy
        </dt>

        <dd>
            {{employee.TitleOfCourtesy}}
        </dd>

        <dt>
            BirthDate
        </dt>

        <dd>
            {{employee.BirthDate}}
        </dd>

        <dt>
            HireDate
        </dt>

        <dd>
            {{employee.HireDate}}
        </dd>

        <dt>
            Address
        </dt>

        <dd>
            {{employee.Address}}
        </dd>

        <dt>
            City
        </dt>

        <dd>
            {{employee.City}}
        </dd>

        <dt>
            Region
        </dt>

        <dd>
            {{employee.Region}}
        </dd>

        <dt>
            PostalCode
        </dt>

        <dd>
            {{employee.PostalCode}}
        </dd>

        <dt>
            Country
        </dt>

        <dd>
            {{employee.Country}}
        </dd>

        <dt>
            HomePhone
        </dt>

        <dd>
            {{employee.HomePhone}}
        </dd>

        <dt>
            Extension
        </dt>

        <dd>
            {{employee.Extension}}
        </dd>

        <dt>
            Photo
        </dt>

        <dd>


        </dd>

        <dt>
            Notes
        </dt>

        <dd>
            {{employee.Notes}}
        </dd>

       
        <dt>

        </dt>

        <dd>
            {{employee.Employee1.LastName}}
        </dd>

    </dl>
</div>
<p>

    <a ng-href="/EmployeeIndex">index</a>
</p>
