Employee Index

{{Employees.length}}

<a ng-href="/EmployeeCreate">Create</a>

<h2>Index</h2>

<table class="table">
    <tr>
        <th>
            LastName
        </th>
        <th>
           FirstName
        </th>
        <th>
            Title
        </th>
        <th>
            TitleOfCourtesy
        </th>
        <th>
           BirthDate
        </th>
        <th>
            HireDate
        </th>
        <th>
           
        <th></th>
    </tr>


        <tr ng-repeat="employee in Employees">
            <td>
                {{employee.LastName}}
            </td>
            <td>
                {{employee.FirstName}}
            </td>
            <td>
                {{employee.Title}}
            </td>
            <td>
                {{employee.TitleOfCourtesy}}
            </td>
            <td>
                {{employee.BirthDate}}
            </td>
            <td>
                {{employee.HireDate}}
            </td>
            <td>
               
            </td>
            <td>
                <a ng-href="/EmployeeDetail/{{employee.EmployeeID}}">Detail</a>
                <a ng-href="/EmployeeEdit/{{employee.EmployeeID}}">Edit</a>
                <a ng-href="/EmployeeDelete/{{employee.EmployeeID}}">Delete</a>
            </td>
        </tr>


</table>